<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{- partial "head.html" . -}}
</head>
<body>
  {{- partial "header.html" . -}}
  <main>
    {{- block "main" . }}{{ end -}}
  </main>
  {{- partial "footer.html" . -}}
  {{ if .Params.appPage }}
  <script>window.ECAUTH = { apiBaseUrl: {{ .Site.Params.apiBaseUrl }}, adminClientId: {{ .Site.Params.adminClientId }}, authRedirectUri: {{ .Site.Params.authRedirectUri }}, policyVersion: {{ .Site.Params.policyVersion }} };</script>
  {{ end }}
  {{- block "scripts" . }}{{ end -}}
</body>
</html>
